@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'hero';
@import 'event';

$background-color: #fdfdfd;

body {
  background-color: $background-color;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6rem;
  position: relative;
}

.section {
  min-height: 100%;
  padding-bottom: 5%;

}

.content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container {
  @include outer-container(80%);
  flex: 1;
  padding: 2em;
}

.event__join-link{
  background-color: #a02828;
  color: $background-color;
  border-radius: 3px;
  padding: .75em 1.5em;
  margin-top: 2em;
}
