---
title: KWRuby Meetings
---

%section.container
  %h1.hero__title#upcoming Current and upcoming
  = partial(:meeting, locals: {events: MeetupFeed.upcoming_meetings})
  %h1.hero__title#past Past Meetups
  = partial(:meeting, locals: {events: MeetupFeed.past_meetings})
